<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DAMS Android Appium Suite" verbose="1" parallel="false">
    <test name="Android Regression">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="LoginPage.LoginPage"/>
            <class name="DailyQuiz.DailyQuiz"/>
            <class name="CBT.CBT"/>
            <class name="PlanPurchase.PlanPurchase"/>
            <class name="CrossSale.CrossSale"/>
            <class name="Qbank.Qbank"/>
            <class name="TestSeries.TestSeries"/>
        </classes>
    </test>
</suite>
